<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mm">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MultiMediaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".grafika.GrafikaActivity" />
        <activity android:name=".grafika.GlesInfoActivity" />
        <activity android:name=".grafika.ColorBarActivity" />
        <activity android:name=".grafika.TextureViewCanvasActivity" />
        <activity android:name=".grafika.TextureViewGLActivity" />
        <activity android:name=".grafika.PlayMovieSurfaceActivity" />

        <activity android:name=".exoplayer.ExoPlayerActivity" />


        <activity android:name=".algorithms.AlgorithmsActivity" />

        <activity android:name=".music.MusicActivity" />

        <activity android:name=".ndk.NdkActivity" />
        <activity android:name=".ndk.GLES3JNIActivity" />
    </application>
</manifest>